@import "popup-header.scss";
@import "popup-menu.scss";
@import "popup-button.scss";

$head-color: #ffc000;

#overlay {
	position: absolute;
	
	top: 0;
	bottom: 0;
  	left: 0;
  	right: 0;
  	z-index: 1; 
  	display: flex;
  	justify-content: center;
  	// align-items: center;
	overflow: hidden;
 	background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
    visibility: hidden;
	opacity: 0;
	padding: 150px;

	&:target {
	    visibility: visible;
	    opacity: 1;
	}
};

#popup {
	// position: absolute;
	width: 850px;
	z-index: 2;
	height: auto;
	background-color: #e0e0e0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: start;
}


.content {
	// overflow: hidden;    
    // overflow: auto;
    padding: 40px 25px 0 25px;

 
 
}

.content-card {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

}




