@import "number.scss";

$description-color: #767675;
$description-link-color: #118ac2;
$card-color: #ffc000;
$price-color: #e76752;
$add-border-color: #664d00;




.card {
	width: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 20px 30px 20px;

	&__name {
		font:  20px Arial, sans-serif;
		height: 80px;
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 2px solid $description-color;
	}

	&__description {
		height: 60px;
		border-bottom: 2px solid $description-color;
		// border-top: 2px solid $description-color;
		width: 100%;
		text-align: center;	
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		font: 15px Arial, sans-serif;	
		font-weight: bold;

		a {			
			outline: none;
			color: $description-link-color;	
			text-decoration: underline;
		}
	}

	&__price {
		color: $price-color;
		font:  bold 18px Arial, sans-serif;
		line-height: 35px;
	}
};

.market_image {
	height: 50px;
	padding-bottom: 10px;

};

.product {
	border-radius: 50%;
	background-color: white;
	border: 10px solid $card-color;
	box-shadow: 0 0 5px grey;
	width: 180px;
	height: 180px;
	align-items: center;
	justify-content: center;
	display: flex;

	&__image {
		height: 160px;	
		width: 160px;	
		border-radius: 50%;	
	};
}; 

.card__add {
	height: 30px;
	width: 130px;
	color: white;
	background-color: $card-color;
	border-radius: 3px;
	text-transform: uppercase;
	border: none;
	border-bottom: 2px solid $add-border-color;
	font-weight: bold;
	padding: 0;
	box-shadow: 0 0 5px grey;

	&::-moz-focus-inner {
	 	border: 0;
	}
	&:active {
		background-color: #b5a77e;
		box-shadow: 0 0 7px #5e5d5d;
		transition-duration: 0.1s; 
		transition-timing-function: ease-out;
	} 
};

.add-wrap {
	padding-top: 15px;
};

.modalcard-active {
	background-color: #fdd55c;
	border-radius: 5px;
	box-shadow:0 0 10px 1px grey;
}



.modalcard {
	margin-bottom: 5px;
	padding: 10px 20px 5px 20px;
	display: flex;
}