header {
	width: 100%;
	min-height: 75px;
	height: auto;
	display: flex;
	justify-content: center;		
	align-items: center;
};

.header {
	text-transform: uppercase;
	font:  40px Arial, sans-serif;
	color: #444444;
};