@import "/basket/basket.scss";
@import "/frontpage/card.scss";
@import "/menu/menu.scss";
@import "/header/header.scss";
@import "/modal-window/modal-window.scss";

html {
	height: 100%;
	background-color: #edebea;
	background: url(https://image.freepik.com/free-photo/_7182-2053.jpg);
	background-repeat: repeat;
	background-size: 100%;
};

body {
	z-index: 0;
}

main {
	display: flex;
	justify-content: space-evently;
};

header {
	text-align: center;
};
 
.left {
	width: 230px;
	margin-left: 30px;
};

#frontpage {
	flex-wrap: wrap;
    flex-basis: auto;
    display: flex;
    padding-left: 40px;
};
