html {
	height: 100%;
	background-color: #edebea;
	background: url(https://image.freepik.com/free-photo/_7182-2053.jpg);
	background-repeat: repeat;
	 background-size: 100%;
};

main {
	display: flex;
	justify-content: center;
	// padding: 0 30px 0 30px;

};

header {
	text-align: center;
};

 
.left {
	width: 230px;
	margin-left: 30px;
};

.frontpage {
	// width: auto;
	// min-width: 500px;
	// padding: 20px;
	flex-wrap: wrap;
    flex-basis: auto;
    display: flex;
    padding-left: 40px;
    // justify-content: flex-start;

};
