$link-hover: #ffcd33;

@mixin active() {
	color: white;
	background-color: $link-hover;
}

.menu {
	background: white;
	font:  20px Arial, sans-serif;
	font-stretch: condensed;
	padding: 0;
	margin: 0;
	list-style-type: none;
	border-radius: 7px;
	box-shadow:0 0 10px 1px grey;


	&__item {
		line-height: 50px;
		text-align: center;		
		color: black;

		&:first-child  {
			border-top-right-radius: 7px; 
			border-top-left-radius: 7px; 
		}
		&:last-child  {
			border-bottom-right-radius: 7px; 
			border-bottom-left-radius: 7px; 
		}

		&:hover, :active, :focus{
			@include active();
			border: 0;
			outline: 0;		
			transition-duration: 0.2s; 
			transition-timing-function: ease-in-out;	
		}
	};
};

.active {
	@include active();
};


